[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = ">=2.0"
cryptography = ">=2.6"
fastapi = "*"
pyjwt = "*"

[dev-packages]
ruff = "*"
mypy = "*"
pylint = "*"
build = "*"
twine = "*"
id = "*"

[requires]
python_version = "3.12"
